:root {
  --bg-white-color: #ffffff;
  --bg-pink-color: #fafafa;
  --text-black-color: #111517;
  --input-placeholder-color: #848484;
}

.dark-mode {
  --bg-white-color: #2b3844;
  --bg-pink-color: #202c36;
  --text-black-color: #ffffff;
  --input-placeholder-color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header Start */
.header {
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  background-color: var(--bg-white-color);
}

.sitenav {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-white-color);
}

.site-logo {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--text-black-color);
}

.dark-mode-btn {
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--text-black-color);
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dark-mode-btn svg path {
  fill: #ffffff;
}

.hidden {
  display: none;
}
/* Header Finished */

/* Main Start */
main {
  flex-grow: 1;
  padding-bottom: 4.8rem;
  transition: all 0.3s ease;
}

.main {
  background-color: var(--bg-pink-color);
}

.form {
  display: flex;
  justify-content: space-between;
  padding-top: 4.8rem;
  padding-bottom: 1.5rem;
  gap: 2rem;
}

.input-wrapper {
  width: 100%;
  max-width: 480px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: var(--bg-white-color);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

label {
  cursor: pointer;
  background-color: var(--bg-white-color);
}

.search-input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: var(--text-black-color);
  background-color: var(--bg-white-color);
  outline: none;
  
}

.search-input::placeholder {
  color: var(--input-placeholder-color);
}

.search-img {
  margin: 0rem 2.4rem 0rem 3.2rem;
}

.select {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 4px;
  position: relative;
}
.select-title {
  width: 200px;
  height: 56px;
  border-radius: 5px;
  background: var(--bg-white-color);
  display: flex;
  color: var(--text-black-color);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0rem 2.4rem;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.select-title svg path {
  fill: var(--text-black-color);
}

.select:hover .select-list {
  visibility: visible;
}

.select-list {
  display: flex;
  width: 200px;
  position: absolute;
  transform: translateY(100%);
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  flex-direction: column;
  gap: 8px;
  border-radius: 5px;
  background-color: var(--bg-white-color);
  padding: 1.6rem 0rem;
  visibility: hidden;
  transition: visibility 0.3s linear;
}

.select-item {
  padding: 0.5rem 2.4rem;
  width: 100%;
  cursor: pointer;
  color: var(--text-black-color);
}

.select-item:hover {
  background-color: var(--bg-pink-color);
}

.countries-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
}

.country-item-link {
  width: 264px;
  height: 336px;
  border-radius: 5px;
  background: var(--bg-white-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  padding-bottom: 3rem;
  margin: 3rem 0rem;
}

.country-item-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.country-item-title {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  margin-left: 2.4rem;
  color: var(--text-black-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
.country-item-population {
  color: var(--text-black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-left: 2.4rem;
  margin-bottom: 0.8rem;
}

.country-item-population span {
  color: var(--text-black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.country-item-region {
  color: var(--text-black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-left: 2.4rem;
  margin-bottom: 0.8rem;
}

.country-item-region span {
  color: var(--text-black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.country-item-capital {
  color: var(--text-black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-left: 2.4rem;
  margin-bottom: 0.8rem;
}

.country-item-capital span {
  color: var(--text-black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}
/* Main End */

/* Footer start */
.footer {
  width: 100%;
  background-color: var(--bg-white-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  text-align: center;
  display: flex;
  padding: 3rem 0rem;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer p {
  color: var(--text-black-color);
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.footer-text {
  font-weight: 700;
  color: var(--text-black-color);
}
/* Footer end */

/* ---------------------------About Page Styles----------------------*/
.back-home-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-black-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  background-color: var(--bg-white-color);
  width: 13.6rem;
  margin-top: 7rem;
  padding: 1rem 3.2rem;
  border-radius: 6px;
}

.back-home-btn svg path {
  fill: var(--text-black-color);
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  height: auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.about-main-img {
  width: 100%;
  max-width: 560px;
  height: 420px;
  border-radius: 1rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  max-width: 570px;
  height: auto;
  padding: 4rem 0rem;
}

.about-title {
  color: var(--text-black-color);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 2.3rem;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
}

.left-wrapper p {
  color: var(--text-black-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.left-wrapper p span {
  color: var(--text-black-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.about-content-top {
  display: flex;
  justify-content: space-between;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 6.5rem;
}
.right-wrapper p {
  color: var(--text-black-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.right-wrapper p span {
  color: var(--text-black-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.border-countries-title {
  color: var(--text-black-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.about-content-bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.border-countries-title {
  margin-right: 0.6rem;
}

.border-link {
  display: block;
  color: var(--text-black-color);
  background-color: var(--bg-white-color);
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  border-radius: 2px;
  font-weight: 300;
  line-height: normal;
  padding: 5px 20px;
}



/* Responsive */

@media screen and (max-width: 1100px) {
  .about-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 955px) {
  .countries-list {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 600px) {
  .form {
    flex-direction: column;
    padding: 2.4rem 0rem;
    gap: 4rem;
  }
  .country-item-link {
    margin: 2rem 0rem;
  }
  .about-main-img {
    width: 100%;
    height: 275.924px;
  }
  .about-content-top{
    flex-direction: column;
  }
  .right-wrapper{
    margin-top: 3.2rem;
  }
  .about-wrapper{
    margin: 4rem 0rem;
  }
  .back-home-btn{
    margin-top: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .site-logo {
    font-size: 1.4rem;
  }
  .dark-mode-btn {
    font-size: 1.2rem;
  }
  .about-content-bottom{
    justify-content: center;
  }
}
